#total{
    background-color: cadetblue;
    align-items: center;
    margin: auto;
}

#heading{
    text-align: center;
    color: cornsilk;
    padding: 20px;
}

#main{
    width: 40%;
    margin: auto;
    background-color: white;
    padding: 20px;
}

#radio-check{
    padding: 5px;
    border: 1px #ccc solid;
    border-radius: 5px;
}